Host github.com
    Hostname github.com
    User git
    IdentityFile ~/.ssh/joe1.pem
Host git.eganshub.net
    Hostname git.eganshub.net
    User git
    IdentityFile ~/.ssh/joe1.pem
Host cs1.utdallas.edu
    Hostname cs1.utdallas.edu
    User jee210001
    IdentityFile ~/.ssh/joe1.pem
Host mc.eganshub.net
    Hostname mc.eganshub.net
    User root
    IdentityFile ~/.ssh/joe1.pem
