Host github.com
    Hostname github.com
    User git
    IdentityFile ~/.ssh/joe1.pem
Host github-as-jee210001
    Hostname github.com
    User git
    IdentityFile ~/.ssh/jee210001
Host git.eganshub.net
    Hostname git.eganshub.net
    User git
    IdentityFile ~/.ssh/joe1.pem
Host cs1.utdallas.edu
    Hostname cs1.utdallas.edu
    User jee210001
    IdentityFile ~/.ssh/joe1.pem
Host cs2.utdallas.edu
    Hostname cs2.utdallas.edu
    User jee210001
    IdentityFile ~/.ssh/joe1.pem
Host cs3.utdallas.edu
    Hostname cs3.utdallas.edu
    User jee210001
    IdentityFile ~/.ssh/joe1.pem
Host giant.utdallas.edu
    Hostname giant.utdallas.edu
    User jee210001
    IdentityFile ~/.ssh/joe1.pem
Host eganshub.local
    Hostname 192.168.2.1
    User joe
    IdentityFile ~/.ssh/joe1.pem
Host eganshub.net
    Hostname eganshub.net
    User joe
    IdentityFile ~/.ssh/joe1.pem
Host tunnel.eganshub.net
    Hostname eganshub.net
    User joe
    Port 2222
    IdentityFile ~/.ssh/joe1.pem
Host vscode-env
    Hostname 159.223.198.228
    User joe
    IdentityFile ~/.ssh/joe1.pem
