call plug#begin('~/.vim/plugins')

Plug 'vim-airline/vim-airline'
Plug 'vim-airline/vim-airline-themes'

Plug 'junegunn/fzf', { 'dir': '~/.fzf', 'do': './install --all' }
Plug 'junegunn/fzf.vim'

Plug 'tpope/vim-eunuch'

Plug 'scrooloose/nerdtree'

Plug 'trevordmiller/nova-vim'

"Plug 'vim-syntastic/syntastic'
"
Plug 'w0rp/ale'

Plug 'udalov/kotlin-vim'

call plug#end()

let g:airline_theme='light'
let g:airline_powerline_fonts=1

let b:ale_linters = {'kotlin': ['ktlint']}
let b:ale_fixers = {'kotlin': ['ktlint']}
let g:ale_completion_enabled = 1

" let g:syntastic_checkers_kt = ['ktlint']

map ; :Files<CR>

map ' :w<CR>:e .<CR>

"Map tab to 'fix all of my issues please!'
"Replaces multiple spaces with a tab, and ending whitespace with nothing!
map <C-i> :%s/\s\+$//ge<CR>:%s/ \{2,}/	/ge<CR>

set tabstop=4
set shiftwidth=4

set nu rnu
set noswapfile

let g:airline_powerline_fonts = 1
