call plug#begin('~/.vim/plugins')

Plug 'vim-airline/vim-airline'
Plug 'vim-airline/vim-airline-themes'

Plug 'morhetz/gruvbox'

Plug 'mattn/emmet-vim'

Plug 'tmsvg/pear-tree'

Plug 'neoclide/coc.nvim', {'branch': 'release'}

Plug 'prettier/vim-prettier', { 'do': 'yarn install' }

Plug 'junegunn/fzf', { 'dir': '~/.fzf', 'do': './install --all' }
Plug 'junegunn/fzf.vim'

Plug 'airblade/vim-gitgutter'
Plug 'tpope/vim-fugitive'

Plug 'tpope/vim-eunuch'

Plug 'udalov/kotlin-vim'

call plug#end()

let g:airline_theme='gruvbox'
let g:airline_powerline_fonts=1

map ; :GFiles<CR>

map ' :w!<CR>:e .<CR>

let g:user_emmet_leader_key='<C-Z>'

set tabstop=2
set shiftwidth=2
set expandtab
set smartindent

set nu rnu
set noswapfile
set nobackup
set undodir=~/.config/nvim/undodir/
set undofile
set incsearch

let mapleader=" "

map <leader>gd <Plug>(coc-definition)
map <leader>gy <Plug>(coc-type-definition)
map <leader>gi <Plug>(coc-implementation)
map <leader>gr <Plug>(coc-references)
map <leader>w :w!<CR>
map <leader>g :G<CR>
map <leader>q :q!<CR>
map <leader>gp :G push<CR>
map <leader>gl :G pull<CR>
map <leader>o <C-o>
map <leader>i <C-i>
map J }
map K {

inoremap <silent><expr> <C-j> "\<C-n>"
inoremap <silent><expr> <C-k> "\<C-p>"

imap jj <Esc>
imap kk <Esc>
imap jk <Esc>
imap kj <Esc>

syntax enable
set background=dark
colorscheme gruvbox

let g:airline_powerline_fonts = 1

set nohlsearch
